<script>runit();</script>
<div ng-show="isAdmin">

    <div class="bagimg" style="padding: 8px 30px;">
        <div class="container" role="document">
            <div class="conbag">



                <div class="col-sm-12">
                    <form style="padding: 15px 50px;" class="col-sm-6">
                        <input value="5" type="number" id="scoreLine"/>
                        <div class="col-sm-6">
                            <button ng-click="runit()" type="submit" class="btn btn-default">Get Cities!</button>
                        </div>	
                    </form>
                    <div class="row">             
                        <div class="table-responsive">
                            <div class="table headings">
                                <h4>City Scores:</h4>

                                <table>
                                    <tr>
                                        <td><strong>City</strong></td><td><strong>IATA Code</strong></td><td><strong>Score</strong></td>
                                    </tr>
                                    <tr ng-repeat="pass in res">
                                        <td>{{pass.airport}}</td>
                                        <td>{{pass.code}}</td>
                                        <td>{{pass.score}}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

