
<div ng-show="isAdmin">
<div class="container" ng-show="isFound" >

    <div class="conbag">
        <div class="bagimg" style="padding: 8px 30px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">

                        <div class="table headings">	
                            <h4>Reservations:</h4>
                            <uib-accordion>
                                <uib-accordion-group heading="Flight Number: {{unit.flightNumber}}" ng-repeat="unit in res">
                                    <dl class="dl-horizontal">
                                        <dt>Customer Name:</dt>
                                        <dd>{{unit.reserveeName}}</dd>
                                        <dt>Flight Origin</dt>
                                        <dd>{{unit.origin}}</dd>
                                        <dt>Flight Destination</dt>
                                        <dd>{{unit.destination}}</dd>
                                        <dt>Date of Departure:</dt>
                                        <dd>DATE({{unit.date}});</dd>
                                        <dt>Flight Duration:</dt>
                                        <dd>{{unit.flightTime}} min</dd>

                                        <dt>Number of passengers: </dt>
                                        <dd>{{unit.numberOfSeats}}</dd>
                                        <br>
                                        <table>
                                            <tr>
                                                <td><strong>First Name</strong></td><td><strong>Last Name</strong></td>
                                            </tr>
                                            <tr ng-repeat="pass in unit.passengers">
                                                <td>{{pass.firstName}}</td>
                                                <td>{{pass.lastName}}</td>
                                            </tr>
                                        </table>
                                    </dl>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
