<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Book</title>
        <!-- Bootstrap -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
        <script src='bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <script src="app/app.js"></script>
        <script src="app/ngAutocomplete.js"></script>
        <script src="app/view1/view1.js"></script>
        <script src="app/view2/view2.js"></script>
        <script src="app/view3/view3.js"></script>
        <script src="app/view4/view4.js"></script>
        <script src="app/view5/view5.js"></script>
        <script src="app/view6/view6.js"></script>
        <script src="app/components/auth.js"></script>
        <script src="app/components/filters.js"></script>
        <script src="app/components/directives.js"></script>
        <script src="app/components/factories.js"></script>
        <script src="app/components/services.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0-beta.9/ng-table.min.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0-beta.9/ng-table.js"></script>




    </head>
    <body ng-app="myApp" ng-controller="AppLoginCtrl">
        <header>
            <div class="top_b">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p><a href="#">Contact</a> | <a href="#">Help</a></p>
                        </div>
                        <div class="col-sm-6">
                            <p ng-show="!isAuthenticated" class="text-right">Support 420-420420 | Help: 420420420 &nbsp; &nbsp; <a href="#" ng-click="openSigninModal()">Login</a> / <a href="#" ng-click="openSignupModal()">Signup</a></p>
                            <p ng-show="isAuthenticated" class="text-right">Support 420-420420 | Help: 420420420 &nbsp; &nbsp; Logged on as: {{username}} / <a href="#" ng-click="logout()">Logout</a> </p>
                        </div>
                    </div>	  
                </div>
            </div>
            <div class="logo_section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-lg-2">
                            <img class="img-responsive" src="images/safeluft-logo.png" />
                        </div>
                        <div class="col-sm-9 col-lg-10">
                            <p class="text-right">Recent searches | SafeLuft</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <div class="container">

                    <nav class="navbar navbar-static-top">          
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>            
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class = "{{activation}}"><a ng-click="showSearch()" href="#"><img src="images/airplane-flight.png"/>Flights</a></li>
                                <li><a ng-click="hideSearch()" ng-show="isAdmin" href="#/view4"><img src="images/airplane-flight.png"/>All Reservations</a></li>
                                <li><a ng-click="hideSearch()" ng-show="isUser" href="#/view3"><img src="images/airplane-flight.png"/>Your Reservations</a></li>
                                <li><a ng-click="hideSearch()" ng-show="isAdmin" href="#/view5"><img src="images/airplane-flight.png"/>Services</a></li>
                                <li><a ng-click="hideSearch()" ng-show="isAdmin" href="#/view6"><img src="images/airplane-flight.png"/>City Scores</a></li>
                                <li><a ng-click="hideSearch()" href="#/view2"><img src="images/airplane-flight.png"/>Documention</a></li>
                                <!-- <li><a href="#about"><img src="images/sleeping-bed-silhouette.png"/>Hotels</a></li>
                                 <li><a href="#contact"><img src="images/car-compact.png"/>Care hire</a></li>  
                                  <li><a href="#contact"><img src="images/icon.png" />Buses</a></li>  	-->			
                            </ul>
                        </div>         
                    </nav>

                </div>
            </div>
        </header>
        <div ng-view ng-show="!showSirch"></div>
        <div ng-controller="SirchController" ng-show="showSirch">
            <div class="content">
                <div class="container">
                    <div class="conbag">
                        <div class="bagimg">
                            <img class="img-responsive w100" src="images/hotel.jpg" />
                        </div>
                        <div class="banner_bg">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="flighform">
                                        <label><input type="radio" name="example1" value="flight" checked="checked" ><span></span> Get Me Out Of Here</label>
                                        <label><input type="radio" name="example1" value="spec"><span></span> Get Me Here</label>

                                        <div class="conditional" data-cond-option="example1" data-cond-value="flight">
                                            <form id="form" role="form">
                                                <div class="row" >
                                                    <div class="col-sm-6" >
                                                        <label>From </label>
                                                        <input type="text" class="form-control" placeholder="City Name" ng-autocomplete="flightfrom" details="details2" options="options2"/>
                                                        <br>
                                                    </div>
                                                </div>
                                                <div class="row">	
                                                    <div class="col-sm-6">	
                                                        <div class="row">		 
                                                            <div class='col-md-12'>
                                                                <div class="form-group">
                                                                    <label>Date</label>

                                                                    <input class="form-control" ng-model="flightdate" type="date">


                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>Amount of Tickets</label>
                                                        <input ng-model="flighttickets" type="number" id="total" class="form-control" placeholder="Amount">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button ng-click="findflights()" type="submit" class="btn btn-default">Search</button>
                                                    </div>		  
                                                </div>
                                                </br>

                                            </form>
                                        </div>

                                        <div class="conditional" data-cond-option="example1" data-cond-value="spec">
                                            <form>
                                                <div class="row" >
                                                    <div class="col-sm-6">
                                                        <label>From</label>
                                                        <input type="text" class="form-control" placeholder="City Name" ng-autocomplete="specfrom" details="details2" options="options2"/>
                                                        <br>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>To</label>
                                                        <input type="text" class="form-control" placeholder="City Name" ng-autocomplete="specto" details="details2" options="options2"/>
                                                        <br>
                                                    </div>
                                                </div>
                                                <div class="row">	
                                                    <div class="col-sm-6">	
                                                        <div class="row">		 
                                                            <div class='col-md-12'>
                                                                <div class="form-group">
                                                                    <label>Date</label>
                                                                    <input class="form-control" ng-model="specdate" type="date">
                                                                </div>
                                                            </div>
                                                            <!--<div class='col-md-6'>
                                                                    <div class="form-group">
                                                                        <label>Return</label>
                                                                            <div class='input-group date' id='datetimepicker9'>
                                                                                    <input type='text' class="form-control" />
                                                                                        <span class="input-group-addon">
                                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                                    </span>
                                                                            </div>
                                                                    </div>
                                                        </div>--->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>Amount of Tickets</label>
                                                        <input type="number" ng-model="spectickets" id="total" class="form-control" placeholder="Amount">

                                                        <!-- <div id="counter">
                                                                  <h1>kartik jat</h1>
                                                                 </div>-->


                                                    </div>
                                                </div>
                                                <div class="row">	
                                                    <div class="col-sm-6">
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <button ng-click="findspec()" type="submit" class="btn btn-default">Search</button>
                                                    </div>		  
                                                </div>
                                                </br>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-responsive" src="images/rotate30.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div ng-show="results" class="content">
                <div class="container">
                    <div class="conbag">
                        <div class="bagimg" style="padding: 8px 30px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    </br>
                                    <div class="table-responsive">

                                        <table class="table headings">	

                                            <tr>
                                                <td><strong>Airline</strong></td><td><strong>Dep.</strong></td><td><strong>Arr.</strong></td><td><strong>Time</strong></td><td><strong>Destination</strong></td><td>	<strong>See details</strong></td><td><strong>Reserve Tickets</strong></td>
                                            </tr>
                                        </table>		  
                                    </div>
                                    </br>
                                    <p><a href="#"><i class="fa fa-sort-asc" aria-hidden="true"></i> <span>Show earlier departures</span></a></p>
                                    {{resv}}{{detail}}
                                    <div ng-repeat="flight in allflights| orderBy: 'time'">
                                        <div class="table-responsive" >	   
                                            <table class="table headings">	

                                                <tr>
                                                    <td>{{flight.airline}}</td><td>{{flight.time}}</td><td>{{flight.arrival}}</td><td>{{flight.traveltime| time:'mm':'hhh mmm':false}}</td><td>{{flight.destination}}</td><td>	<a ng-click="expand($index)" ><i class="fa fa-info-circle" aria-hidden="true"></i> Detail</a></td><td><a ng-click="reserve($index)" ><i class="fa fa-info-circle" aria-hidden="true"></i> Reserve</a></td>
                                                </tr>
                                            </table>	
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a role="button" id="box{{$index}}" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
                                                                <i class="fa fa-info-circle" aria-hidden="true"></i>  Detail</a>
                                                        </h4>

                                                    </div>
                                                    <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div ng-show="!resv" class="panel-body">
                                                            <table class="table table-striped">
                                                                <tr><h3>&nbsp;<i class="fa fa-plane" aria-hidden="true"></i>&nbsp; Flight: {{flight.flightNumber}}</h3></tr>
                                                                <tr><th style="width: 5px; text-align: center;"><i class="fa fa-map-marker" aria-hidden="true"></i> </th><th> <b>Departure from:</b> {{flight.origin}}</th><th><b>At:</b> {{flight.time}}</th></tr>
                                                                <tr><th style="width: 5px; text-align: center;"><i class="fa fa-map-marker" aria-hidden="true"></i> </th><th> <b>Arrival at:</b> {{flight.destination}}</th><th><b>At:</b> {{flight.arrival}}</th></tr>
                                                                <tr><th style="width: 5px; text-align: center;"><i class="fa fa-credit-card" aria-hidden="true"></i></th><th><b>Price per Ticket:</b> {{flight.totalPrice / flight.numberOfSeats| currency}}</th><th><b>Total Price:</b> {{flight.totalPrice| currency}}</th></tr>
                                                            </table>
                                                        </div>
                                                        <div ng-show="resv" class="panel-body">
                                                            <form>
                                                                <table class="table table-striped">
                                                                    <tr><td><label>Name</label></td>
                                                                        <td><input class="form-control" type="text" ng-model="ticket.reserveeName" /></td></tr>
                                                                    <tr><td><label>Phone Number</label></td>
                                                                        <td><input class="form-control" type="text" ng-model="ticket.reserveePhone" /></td></tr>
                                                                    <tr><td><label>Email</label></td>
                                                                        <td><input class="form-control" type="email" ng-model="ticket.reserveeEmail" /></td></tr>
                                                                    <tr><th><label>Passenger Names:</label></th><th></th></tr>
                                                                    <tr><td><label>First Name{{ticket.pass[0].firstName}}</label></td><td><label>Last Name</label></td></tr>
                                                                    <tr ng-repeat="n in seats(flight.numberOfSeats) track by $index"><td><input class="form-control" type="text" ng-model="pass[$index].firstName"/></td><td><input class="form-control" type="text" ng-model="pass[$index].lastName"/></td></tr>
                                                                </table>
                                                                <button ng-click="reservetickets(flight)" type="submit" class="btn btn-default">Reserve</button>
                                                            </form>
                                                            {{resrep}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        </br>
                                    </div>

                                    <p><a href="#"><i class="fa fa-caret-down" aria-hidden="true"></i> <span>Show later departures</span</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>ABOUT</h4>
                        <hr>
                        <ul>
                            <li><a href="#">About this page</a></li>
                            <li><a href="#">Lorem's owners</a></li>
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Privacy and cookies</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>HELP</h4>
                        <hr>
                        <ul>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Accessibility services</a></li>
                            <li><a href="#">Text version</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>OTHER SERVICES</h4>
                        <hr>
                        <ul>
                            <li><a href="#">Download to your computer</a></li>
                            <li><a href="#">'s mobile services</a></li>
                            <li><a href="#">Travelling to Southern Sweden?</a></li>
                            <li><a href="#">Travelling abroad?</a></li>
                            <li><a href="#">Journeyplanners in other countries</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>BUSINESS</h4>
                        <hr>
                        <ul>
                            <li><a href="#">Download labs</a></li>
                            <li><a href="#">Use for your services</a></li>
                            <li><a href="#">logo</a></li>
                            <li><a href="#">Get Rejseplanen on your webpage</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p style="color:#ddd;">Copyright 2016 design by Skrgo</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="copyright"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/conditionize.jquery.js"></script>	
        <script>
                                                                    $('.conditional').conditionize();</script>
        <script src="js/custom.js"></script>
        <script src="js/bootstrap.min.js"></script>	  
        <script src="js/moment-with-locales.js"></script>
        <script src="js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript">

                                                                    $(function () {
                                                                        $('#datetimepicker8').datetimepicker({
                                                                            format: 'YYYY-MM-DD'
                                                                        });
                                                                        $('#datetimepicker8').datetimepicker();
                                                                    });
                                                                    $(function () {
                                                                        $('#datetimepicker9').datetimepicker({
                                                                            format: 'YYYY-MM-DD'
                                                                        });
                                                                        $('#datetimepicker9').datetimepicker();
                                                                    });

        </script>

        <script type="text/ng-template" id="errorModal.html">
            <div class="modal-header">
            <h3 class="modal-title">Error!</h3>
            </div>
            <div class="modal-body">
            <p>{{error}}</p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" autofocus>OK</button>
            </div>
        </script>

        <script type="text/ng-template" id="signupModal.html">
            <div class="modal-header">
            <h3 class="modal-title" ng-show="!isRegistered">Register New User</h3>
            <h3 class="modal-title" ng-show="isRegistered">You have now been registered!</h3>
            </div>
            <div class="modal-body">
            <form class="form-signin" ng-show="!isRegistered">

            <label for="inputUser" class="sr-only">Username</label>
            <input ng-model="newuser.username" type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="newuser.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br/>
            <button ng-click="postnewuser()" class="btn btn-default" type="submit">Sign up</button>
            </form>
            <div ng-show="isRegistered">
            <p>Welcome {{newuser.username}}!</p>
            <p>You can now login with your username and password.</p>
            </div>
            </div>
            <div class="modal-footer" ng-show="isRegistered">
            <button class="btn btn-primary" type="button" ng-click="ok()" autofocus>OK</button>
            </div>
        </script>

        <script type="text/ng-template" id="signinModal.html">
            <div class="modal-header">
            <h3 class="modal-title" ng-show="!isAuthenticated">Login</h3>
            </div>
            <div class="modal-body">
            <form class="form-signin" ng-show="!isAuthenticated">

            <label for="inputUser" class="sr-only">Username</label>
            <input ng-model="user.username" type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br/>
            <button ng-click="login()" class="btn btn-default" type="submit">Sign up</button>
            </form>
            </div>
            <div class="modal-footer" ng-show="isAuthenticated">
            <button class="btn btn-primary" type="button" ng-click="ok()" autofocus>OK</button>
            </div>
        </script>
    </body>
</html>